<!-- <app-input-task></app-input-task> -->
<!-- <app-student-details></app-student-details> -->

<app-parent></app-parent>
<!-- <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-5">
                    <app-form (custEvent)="emitedData($event)"></app-form>
                </div>
                <div class="col-sm-7">
                    <app-table [studentArray]="studentInfo"></app-table>
                </div>
            </div>
        </div>
    </div>
</div> -->